p {
  color: #336699;
  font-size: 20px;
}
styles-box {
  border: 40px solid #000;
  border-style: outset;
  border-radius: 45px;
  margin-top:50px;
}
body {
  background-color: pink;
}
#unique-text {
  background-color: #52595D;
}

h1 {
   text-align: center;

 }  

 p {
 	text-align: center;
 	
 }
 div { border-radius: 45px;
 	border-style: outset;
 	border-color: yellowgreen;
 	  text-align: center;
  }
 p {
    text-align: center;
 }    